<mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Edit Credit Card</mat-card-title>
      <mat-checkbox formControlName="active">Active</mat-checkbox>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="editCreditCardForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                 <mat-form-field appearance="outline">
                    <mat-label>Card Name</mat-label>
                    <input matInput formControlName="cardName"/>
                    <mat-error *ngIf="editCreditCardForm.get('cardName')?.hasError('required')">Card Name is required</mat-error>
                    <mat-error *ngIf="editCreditCardForm.get('cardName')?.hasError('minlength')">Card Name must have atleast 3 characters</mat-error>
                    <mat-error *ngIf="editCreditCardForm.get('cardName')?.hasError('maxlength')">Card Name cannot be more than 20 characters</mat-error>
                  </mat-form-field>
                 <mat-form-field appearance="outline">
                      <mat-label>Bank Name</mat-label>
                      <input matInput formControlName="bankName"/>
                      <mat-error *ngIf="editCreditCardForm.get('bankName')?.hasError('required')">Bank Name is required</mat-error>
                      <mat-error *ngIf="editCreditCardForm.get('bankName')?.hasError('minlength')">Bank Name must have atleast 3 characters</mat-error>
                      <mat-error *ngIf="editCreditCardForm.get('bankName')?.hasError('maxlength')">Bank Name cannot be more than 20 characters</mat-error>
                </mat-form-field>
                 <mat-form-field appearance="outline">
                    <mat-label>Max Credit Card</mat-label>
                    <input matInput formControlName="maxCredit"/>
                    <mat-error *ngIf="editCreditCardForm.get('maxCredit')?.hasError('required')">Max Credit Card is required</mat-error>
                    <mat-error *ngIf="editCreditCardForm.get('maxCredit')?.hasError('maxlength')">Max Credit Card cannot be more than 20 characters</mat-error>
                </mat-form-field>
                 <mat-form-field appearance="outline">
                    <mat-label>Interest Rate</mat-label>
                    <input matInput formControlName="interestRate"/>
                    <mat-error *ngIf="editCreditCardForm.get('interestRate')?.hasError('required')">Interest Rate is required</mat-error>
                    <mat-error *ngIf="editCreditCardForm.get('interestRate')?.hasError('maxlength')">Interest Rate cannot be more than 20 characters</mat-error>
                </mat-form-field>
                 <mat-form-field appearance="outline">
                    <mat-label>Annual Fee</mat-label>
                    <input matInput formControlName="annualFee"/>
                    <mat-error *ngIf="editCreditCardForm.get('annualFee')?.hasError('required')">Annual Fee is required</mat-error>
                    <mat-error *ngIf="editCreditCardForm.get('annualFee')?.hasError('maxlength')">Annual Fee cannot be more than 20 characters</mat-error>
                </mat-form-field>
                 <mat-form-field appearance="outline">
                    <mat-label>Recommend Score</mat-label>
                    <mat-select formControlName="recommededCreditScore">
                        <mat-option value="100-500">100-500</mat-option>
                        <mat-option value="300-500">300-500</mat-option>
                        <mat-option value="200-400">200-400</mat-option>
                        <mat-option value="400-600">400-600</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="editCreditCardForm.get('description')?.hasError('required')">Description is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <div class="button">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!editCreditCardForm.valid">Save</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>